/*
* @Author: 应煜鑫
* @Date:   2017-11-01 10:28:29
* @Last Modified by:   应煜鑫
* @Last Modified time: 2017-11-01 22:41:58
*/
body{
	background: #ff0;
}
.oDiv{
	color: #900;
	width: 200px;
	height: 200px;
}